body {
    background-color: black;
    color: white;

    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;

    line-height: .8;
    overflow: hidden;

    h2 {
        line-height: 0;
    }

    a {
        color: white;
        &:hover {
            color: color-mix(in oklab, white 100%, black 20%)
        }
    }

    img {
        object-fit: contain;
        scale: 1.5;

        @media (width <= 800px) {
            display: none;
        }
    }

    #viewer {
        min-width: 20vw;
        min-height: 30vh;

        h5 {
            white-space: nowrap;
            user-select: none;
            line-height: 0;
            opacity: .25;
        }
    }
}